@charset "UTF-8";
body.pagina-atividades{
  
  background-image: url('../imgs/fundometas.png');
  background-position: center; /* Centraliza o fundo */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-attachment: fixed; /* Faz com que o fundo permaneça fixo ao rolar a página */
  background-size: cover; 
}
body.pagina-materias{
  
  background-image: url('../imgs/fundomaterias.png');
  background-position: center; /* Centraliza o fundo */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-attachment: fixed; /* Faz com que o fundo permaneça fixo ao rolar a página */
  background-size: cover; 
}
body.pagina-relatorios{
  
  background-image: url('../imgs/fundorelatorios.png');
  background-position: center; /* Centraliza o fundo */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-attachment: fixed; /* Faz com que o fundo permaneça fixo ao rolar a página */
  background-size: cover; 
}
:root {
  --bs-blue: #250938;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #959496;
  --bs-secondary: #4b0666;
  --bs-success: #250938;
  --bs-info: #0dcaf0;
  --bs-warning: #ff0707;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 228, 225, 230;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 13, 202, 240;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 30, 30, 31;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 30, 30, 31; /* cor da fonte bag;}*/
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #0c0c0c;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #757575;
  --bs-link-hover-color: #2b2b2b;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

.card {
    margin-bottom: 20px;
  }
  .meta-container::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

.meta-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da barra de rolagem */
    border-radius: 10px; /* Cantos arredondados */
}

.meta-container::-webkit-scrollbar-thumb {
    background: #888; /* Cor do "polegar" da barra de rolagem */
    border-radius: 10px; /* Cantos arredondados */
}

.meta-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do "polegar" quando o mouse está sobre ele */
}

/* Para Firefox */
.meta-container {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
  
  .card-body1 {
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
   
  }




.meta-item {
  margin-bottom: 10px;
  word-wrap: break-word; /* Evita cortar palavras longas */
  overflow-wrap: break-word;
}
  
  .meta-label {
    color:rgba(255, 255, 255, 0.5) !important;
    font-weight: bold;
  }
  
  .meta-value-large {
    font-size: 1.5rem;
    font-weight: bold;
}
  
  .meta-value-medium {
    font-size: 1rem;
  }
  
  .meta-value-small-bold {
    font-size: 0.8rem;
    margin: 0px 10px;
    font-weight: bold;
  }
  .meta-value-small {
    font-size: 1rem;

  }
  .meta-description {
    white-space: pre-wrap; /* Preserva quebras de linha e exibe texto completo */
    text-align:center; /* Alinha o texto para melhor leitura */
    padding: 5px 20px 5px 20px;
}
  .meta-button {
    display: flex;
    justify-content: space-between; /* Distribui os botões com espaços iguais */
    gap: 10px; /* Ajusta o espaço entre os botões */
    padding-top: 10px; /* Espaço superior para separar os botões do conteúdo acima */
}
.meta-priority {
  font-weight: bold;
 /* Cor para destacar o nível de prioridade */
}
.meta-value-play,
.meta-value-edit,
.meta-value-delete {
    flex: 1; /* Permite que cada botão ocupe a mesma quantidade de espaço */
    text-align: center; /* Centraliza o texto do botão */
}
